extends ../../inicio
block scroll_header_panel_title
    span(class="title") GRUPOS DE FORMACIÓN
block help_content
    p(class="title-help") Descripción:
    p.
        En esta pagina puedes crear un grupo de formación.

block head_content_inicio
    link(rel="import",href="{% static 'bower_components/paper-input/paper-input.html'%}")
    link(rel="import",href="{% static 'bower_components/file-upload-sican/file-upload-sican.html'%}")
    link(rel="import",href="{% static 'bower_components/gold-email-input/gold-email-input.html'%}")

block breadcrum
    a(href="/proyectos/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Inicio
            iron-icon(icon="check",item-icon)
    a(href="/vigencia2017/grupos/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Listado de grupos de formación
            iron-icon(icon="check",item-icon)
    a(href="../../../../",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Grupos de {{formador}}
            iron-icon(icon="check",item-icon)
    a(href="../../",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") {{codigo_grupo}}
            iron-icon(icon="check",item-icon)
    paper-icon-item(class="breadcrum_active",disabled) Beneficiario: {{cedula}}
        iron-icon(icon="check",item-icon)

block scroll_header_panel_content
    div(class="container-fluid container-panel")
        div(class="row")
            div(class="col-sm-12")
                form(method="POST",enctype="multipart/form-data",id="form")
                    | {% csrf_token %}
                    | {% crispy form %}
                    div(class="text-right login-form-button")
                        paper-button(class="submit",id="submit_form") Guardar
block body_script_content
    script.
        $('#id_groups').selectpicker({});
        submit_form.addEventListener('click', function (e) {
            form.submit();
        });

        $("#id_dane_sede").chosen({no_results_text: "No se encontro ningun municipio"});