extends ../../inicio
block scroll_header_panel_title
    span(class="title") CARGA DE MATRIZ
block help_content
    p(class="title-help") Descripción:
    p.
        En esta pagina puedes cargar y actualizar la matriz de beneficiarios.
block head_content_inicio
    link(rel="import",href="{% static 'bower_components/paper-button/paper-button.html'%}")
block custom_style_panel
    style(is="custom-style")
        | paper-button{
        |   margin-bottom:15px;
        | }
block breadcrum
    a(href="/proyectos/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Inicio
            iron-icon(icon="check",item-icon)
    a(href="../../",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Listado de archivos
            iron-icon(icon="check",item-icon)
    paper-icon-item(class="breadcrum_active",disabled) Cambios MAS-{{id_matriz}}
        iron-icon(icon="check",item-icon)
block scroll_header_panel_content
    div(class="container-fluid container-index")

        table(id="table",class="display responsive no-wrap table table-striped table-bordered",width="100%")
            thead
                tr
                    th
                    th Cedula
                    th Nombres
                    th Apellidos
                    th DANE Sede
            tbody
                tr
                    td
                    td Cedula
                    td Nombres
                    td Apellidos
                    td DANE Sede

block body_script_content

    script.
        $(document).ready(function () {
            var table = $('#table').DataTable({
                "stateSave": true,
                "searching": true,
                "processing": true,
                "serverSide": true,
                "scrollX": true,
                "ajax": "/rest/vigencia_2017/cargar_matriz/pendientes/{{id_matriz}}/",
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.8/i18n/Spanish.json"
                },
                "order": [[1, "asc"]],
                "columns": [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    {
                        "data": 1,
                        "render": function (data, type, row, meta) {
                            if (row[16]) {
                                return '<a href="beneficiario/' + row[0] + '" style="color:#004c99;">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        },
                        "orderable": true,
                    },
                    {
                        "data": 2,
                        "orderable": false,
                    },
                    {
                        "data": 3,
                        "orderable": false,
                    },
                    {
                        "data": 4,
                        "orderable": false,
                    }
                ]
            });

            // Add event listener for opening and closing details
            $('#table tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });

        });

        function format(d) {
            // `d` is the original data object for the row
            return '<table class="table table-striped">' +

                '<tr>' +
                '<td><p class="bold-p">Nombre Sede:</p>' + d[12] + '</td>' +
                '<td><p class="bold-p">Dane IE:</p>' + d[13] + '</td>' +
                '<td><p class="bold-p">Nombre IE:</p>' + d[14] + '</td>' +
                '<td><p class="bold-p">Municipio:</p>' + d[15] + '</td>' +
                '</tr>' +

                '<tr>' +
                '<td><p class="bold-p">Grupo:</p>' + d[5] + '</td>' +
                '<td><p class="bold-p">Correo:</p>' + d[6] + '</td>' +
                '<td><p class="bold-p">Telefono Fijo:</p>' + d[7] + '</td>' +
                '<td><p class="bold-p">Celular:</p>' + d[8] + '</td>' +
                '</tr>' +

                '<tr>' +
                '<td><p class="bold-p">Area:</p>' + d[9] + '</td>' +
                '<td><p class="bold-p">Grado:</p>' + d[10] + '</td>' +
                '<td><p class="bold-p">Genero:</p>' + d[11] + '</td>' +
                '<td><p class="bold-p"></p>' + '</td>' +
                '</tr>' +

                '</table>';
        }