extends ../../../../inicio
block scroll_header_panel_title
    span(class="title") LIDERES
block help_content
    p(class="title-help") Descripción:
    p.
        ATENCIÓN! Estas a punto de eliminar el lider "{{object.nombres}} {{object.apellidos}}" del sistema de
        información, esto ocultara los soportes cargados, si necesitas recuperarlos en algun momento comunicate con el
        administrador.
block head_content_inicio
    link(rel="import",href="{% static 'bower_components/paper-button/paper-button.html'%}")
    link(rel="import",href="{% static 'bower_components/file-upload-sican/file-upload-sican.html'%}")
block custom_style_panel
    style(is="custom-style")
        | paper-button{
        |   margin-bottom:15px;
        | }
block breadcrum
    a(href="/proyectos/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Inicio
            iron-icon(icon="check",item-icon)
    a(href="/rh/personal/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Personal
            iron-icon(icon="check",item-icon)
    a(href="/rh/personal/acceso/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Acceso
            iron-icon(icon="check",item-icon)
    a(href="../../",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Listado de lideres
            iron-icon(icon="check",item-icon)
    paper-icon-item(class="breadcrum_active",disabled) Eliminar
        iron-icon(icon="check",item-icon)
block scroll_header_panel_content
    div(class="container-fluid container-index")
        div(class="row")
            div(class="col-sm-8 col-sm-offset-2")
                form(action="",method="POST",enctype="multipart/form-data",id="form-deleteFormador")
                    | {% csrf_token %}
                    p(class="title-delete-p") Estas a punto de eliminar el siguiente lider:
                    p(class="inline bold-p") Región(es):
                        p(class="inline") {{object.get_region_string}}
                    p(class="inline bold-p") Nombres:
                        p(class="inline") {{object.nombres}}
                    p(class="inline bold-p") Apellidos:
                        p(class="inline") {{object.apellidos}}
                    p(class="inline bold-p") Cedula:
                        p(class="inline") {{object.cedula}}
                    div(class="text-right login-form-button")
                        paper-button(class="return",id="return") Cancelar
                        paper-button(class="delete",id="submit_form") Eliminar
block body_script_content
    script.
        $('#submit_form').on('click', function () {
            $('#form-deleteFormador').submit();
        });
        $('#return').on('click', function () {
            window.history.back();
        });