extends ../../../inicio
block scroll_header_panel_title
    span(class="title") RH - CONTRATOS A FORMADORES
block help_content
    p(class="title-help") Descripci칩n:
    p.
        En esta pesta침a aparece el listado de formadores y la cantidad de contratos para cada uno de ellos, se puede
        realizar busquedas por nombres, apellidos o numero de cedula del formador.

block head_content_inicio
    link(rel="import",href="{% static 'bower_components/paper-button/paper-button.html'%}")
block custom_style_panel
    style(is="custom-style")
        | paper-button{
        |   margin-bottom:15px;
        | }
block breadcrum
    a(href="/proyectos/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Inicio
            iron-icon(icon="check",item-icon)
    a(href="/rh/contratacion/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Contrataci칩n
            iron-icon(icon="check",item-icon)
    a(href="/rh/contratacion/contratos/formadores/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Formadores
            iron-icon(icon="check",item-icon)
    paper-icon-item(class="breadcrum_active",disabled) Listado de formadores
        iron-icon(icon="check",item-icon)

block scroll_header_panel_content
    div(class="container-fluid container-index")
        div(class="header-buttons")
            | {% if informes %}
            div
                select(class="selectpicker",id="select_accion")
                    option(value="") ---------
                    option(value="34") Reporte de legalizaci칩n de contratos
                button(class="btn",id="accion") Generar reporte
            | {% endif %}
        table(id="table",class="display responsive no-wrap table table-striped table-bordered",width="100%")
            thead
                tr
                    th Formador
                    th Cedula
                    th Cantidad de contratos
            tbody
                tr
                    td Formador
                    td Cedula
                    td Cantidad de contratos

block body_script_content
    script.
        $("#accion").on("click", function () {
            var action = $("#select_accion").val();
            if (action != '') {
                $.ajax({
                    type: "GET",
                    url: '/rest/reportes/?action=' + action,
                    success: function (data) {
                        $('#myModal').modal('show');
                        $("#select_accion").val('');
                        $("#select_accion").selectpicker('refresh');
                    }
                });
            }
        });

    script.
        $(document).ready(function () {
            var table = $('#table').DataTable({
                "stateSave": true,
                "searching": true,
                "processing": true,
                "serverSide": true,
                "scrollX": true,
                "ajax": "/rest/rh/contratacion/contratos/formadores/",
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.8/i18n/Spanish.json"
                },
                "order": [[1, "asc"]],
                "columns": [
                    {
                        "data": 1,
                        "render": function (data, type, row, meta) {
                            if (row[4]) {
                                return '<a href="editar/' + row[0] + '" style="color:#004c99;">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        },
                        "orderable": true,
                    },
                    {
                        "data": 2,
                        "orderable": true,
                    },
                    {
                        "data": 3,
                        "orderable": false,
                        "className": 'text-center',
                    },
                ]
            });
        });