extends ../../../inicio
block scroll_header_panel_title
    span(class="title") FORMADORES - SOPORTES DE SEGURIDAD SOCIAL
block help_content
    p(class="title-help") Descripción:
    p.
        En esta ventana debes cargar los soportes de seguridad social del periodo de ejecución del contrato "{{nombre_contrato}}"
        establecido con la Asosiación Nacional para El Desarrollo Social - ANDES.
block head_content_inicio
    link(rel="import",href="{% static 'bower_components/paper-button/paper-button.html'%}")
block custom_style_panel
    style(is="custom-style")
        | paper-button{
        |   margin-bottom:15px;
        | }
block breadcrum
    a(href="/proyectos/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Inicio
            iron-icon(icon="check",item-icon)
    a(href="/formadores/seguridadsocial/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Lista de contratos
            iron-icon(icon="check",item-icon)
    paper-icon-item(class="breadcrum_active",disabled) Seguridad Social: {{nombre_contrato}}
        iron-icon(icon="check",item-icon)
block scroll_header_panel_content
    div(class="container-fluid container-index")
        div(class="row")
            div(class="col-sm-10 col-sm-offset-1")
                form(action="",method="POST",enctype="multipart/form-data",id="form-formador")
                    | {% crispy form %}
                    div(class="text-right login-form-button")
                        paper-button(class="submit",id="submit_form") Guardar
block body_script_content
    script.
        $(document).ready(function () {
            $('#id_region').selectpicker({});
            $('#id_departamentos').selectpicker({});
            $('#id_fecha_contratacion').datetimepicker({
                locale: 'es',
                viewMode: 'years',
                format: 'DD/MM/YYYY'
            });
            $('#id_fecha_terminacion').datetimepicker({
                locale: 'es',
                viewMode: 'years',
                format: 'DD/MM/YYYY'
            });
            $('#submit_form').on('click', function () {
                $('#form-formador').submit();
            });
            var x = $("#id_ids").val().replace("[", "").replace("]", "").replace(" ", "").split(',');
            for (i = 0; i < x.length; i++) {
                $("#id_" + x[i]).fileinput({showUpload: false, showPreview: false, language: 'es'});
                $("#" + x[i]+ "-clear_id").css("display","none");
                $("label[for=" + x[i]+ "-clear_id]").css("display","none");
            }
        });