extends ../../../inicio
block scroll_header_panel_title
    span(class="title") RH - CONTRATOS A NEGOCIADORES
block help_content
    p(class="title-help") Descripción:
    p.

block head_content_inicio
    link(rel="import",href="{% static 'bower_components/paper-button/paper-button.html'%}")
block custom_style_panel
    style(is="custom-style")
        | paper-button{
        |   margin-bottom:15px;
        | }
block breadcrum
    a(href="/proyectos/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Inicio
            iron-icon(icon="check",item-icon)
    a(href="/rh/contratacion/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Contratación
            iron-icon(icon="check",item-icon)
    a(href="/rh/contratacion/contratos/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Listado de contratos a negociadores
            iron-icon(icon="check",item-icon)
    a(href="../../",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Contratos de {{negociador}}
            iron-icon(icon="check",item-icon)
    paper-icon-item(class="breadcrum_active",disabled) Editar: {{nombre_contrato}}
        iron-icon(icon="check",item-icon)

block scroll_header_panel_content
    div(class="container-fluid container-index")
        div(class="row")
            div(class="col-sm-10 col-sm-offset-1")
                form(action="",method="POST",enctype="multipart/form-data",id="form-formador")
                    | {% csrf_token %}
                    | {% crispy form %}
                    div(class="text-right login-form-button")
                        paper-button(class="submit",id="submit_form") Guardar
block body_script_content
    script.
        $("#id_soporte_renuncia").fileinput({
            language: "es",
            showRemove: false,
            showUpload: false
        });

        $("#id_soporte_liquidacion").fileinput({
            language: "es",
            showRemove: false,
            showUpload: false
        });

        $('#id_fecha_inicio').datetimepicker({
            locale: 'es',
            viewMode: 'years',
            format: 'DD/MM/YYYY'
        });
        $('#id_fecha_fin').datetimepicker({
            locale: 'es',
            viewMode: 'years',
            format: 'DD/MM/YYYY'
        });
        $('#submit_form').on('click', function () {
            $('#form-formador').submit();
        });