extends ../../../inicio
block scroll_header_panel_title
    span(class="title") TIPO DE SOPORTE RH
block help_content
    p(class="title-help") Descripción:
    p.
        Con el formulario que aparece en la parte inferior puedes editar el tipo de soporte "{{object.nombre}}" en el eje de
        "Recursos Humanos" del sistema de información SICAN, los campos que tienen un asterisco (*) son obligatorios y
        deben contener un valor coherente en cada caso.

block head_content_inicio
    link(rel="import",href="{% static 'bower_components/paper-button/paper-button.html'%}")
    link(rel="import",href="{% static 'bower_components/file-upload-sican/file-upload-sican.html'%}")
block custom_style_panel
    style(is="custom-style")
        | paper-button{
        |   margin-bottom:15px;
        | }
block breadcrum
    a(href="/proyectos/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Inicio
            iron-icon(icon="check",item-icon)
    a(href="/rh/personal/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Personal
            iron-icon(icon="check",item-icon)
    a(href="/rh/personal/tipo_soporte/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Listado de tipos de soporte RH
            iron-icon(icon="check",item-icon)
    paper-icon-item(class="breadcrum_active",disabled) Editar: {{object.nombre}}
        iron-icon(icon="check",item-icon)
block scroll_header_panel_content
    div(class="container-fluid container-index")
        div(class="row")
            div(class="col-sm-8 col-sm-offset-2")
                form(action="",method="POST",enctype="multipart/form-data",id="form-soporte")
                    | {% csrf_token %}
                    | {% crispy form %}
                    div(class="text-right login-form-button")
                        paper-button(class="submit",id="submit_form") Guardar
block body_script_content
    script.
        $('#submit_form').on('click', function () {
            $('#form-soporte').submit();
        });