extends ../../../inicio
block scroll_header_panel_title
    span(class="title") SOLICITUDES DE TRANSPORTE
block help_content
    p(class="title-help") Descripción:
    p.
        Con este formulario puedes crear una nueva solicitud de desplazamiento, tenga en cuenta que los campos marcados
        con (*) son obligatorios.
block head_content_inicio
    link(rel="import",href="{% static 'bower_components/paper-input/paper-input.html'%}")
    link(rel="import",href="{% static 'bower_components/file-upload-sican/file-upload-sican.html'%}")
    link(rel="import",href="{% static 'bower_components/gold-email-input/gold-email-input.html'%}")
block breadcrum
    a(href="/proyectos/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Inicio
            iron-icon(icon="check",item-icon)
    a(href="/financiera/transportes/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Listado de solicitudes
            iron-icon(icon="check",item-icon)
    a(href="../../",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Solicitud nombre: {{ formador }}
            iron-icon(icon="check",item-icon)
    paper-icon-item(class="breadcrum_active",disabled) Editar solicitud: {{nombre_solicitud}}
        iron-icon(icon="check",item-icon)
block scroll_header_panel_content
    div(class="container-fluid container-panel")
        div(class="row")
            div(class="col-sm-12")
                form(method="POST",enctype="multipart/form-data",id="form")
                    | {% csrf_token %}
                    | {% crispy form %}
                    div(class="text-right login-form-button")
                        paper-button(class="submit",id="submit_form") Guardar
block body_script_content
    script.
        $('#id_permissions').selectpicker({});
        submit_form.addEventListener('click', function (e) {
            form.submit();
        });
    script.
        $(document).ready(function () {
            $('#id_fecha_1').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY'
            });
            $("#id_municipio_origen_1").remoteChained({
                parents: "#id_departamento_origen_1",
                url: "/rest/chained/municipios/"
            });
            $("#id_municipio_destino_1").remoteChained({
                parents: "#id_departamento_destino_1",
                url: "/rest/chained/municipios/"
            });
            $("#id_valor_1").maskMoney();
            $("#id_valor_2").maskMoney();
            $("#id_valor_3").maskMoney();
            $("#id_valor_4").maskMoney();
            $("#id_valor_5").maskMoney();
            $("#id_valor_6").maskMoney();
            $("#id_valor_7").maskMoney();
            $("#id_valor_8").maskMoney();
            $("#id_valor_9").maskMoney();
            $("#id_valor_10").maskMoney();
            $('#id_fecha_2').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY'
            });
            $("#id_municipio_origen_2").remoteChained({
                parents: "#id_departamento_origen_2",
                url: "/rest/chained/municipios/"
            });
            $("#id_municipio_destino_2").remoteChained({
                parents: "#id_departamento_destino_2",
                url: "/rest/chained/municipios/"
            });
            $('#id_fecha_3').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY'
            });
            $("#id_municipio_origen_3").remoteChained({
                parents: "#id_departamento_origen_3",
                url: "/rest/chained/municipios/"
            });
            $("#id_municipio_destino_3").remoteChained({
                parents: "#id_departamento_destino_3",
                url: "/rest/chained/municipios/"
            });
            $('#id_fecha_4').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY'
            });
            $("#id_municipio_origen_4").remoteChained({
                parents: "#id_departamento_origen_4",
                url: "/rest/chained/municipios/"
            });
            $("#id_municipio_destino_4").remoteChained({
                parents: "#id_departamento_destino_4",
                url: "/rest/chained/municipios/"
            });
            $('#id_fecha_5').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY'
            });
            $("#id_municipio_origen_5").remoteChained({
                parents: "#id_departamento_origen_5",
                url: "/rest/chained/municipios/"
            });
            $("#id_municipio_destino_5").remoteChained({
                parents: "#id_departamento_destino_5",
                url: "/rest/chained/municipios/"
            });
            $('#id_fecha_6').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY'
            });
            $("#id_municipio_origen_6").remoteChained({
                parents: "#id_departamento_origen_6",
                url: "/rest/chained/municipios/"
            });
            $("#id_municipio_destino_6").remoteChained({
                parents: "#id_departamento_destino_6",
                url: "/rest/chained/municipios/"
            });
            $('#id_fecha_7').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY'
            });
            $("#id_municipio_origen_7").remoteChained({
                parents: "#id_departamento_origen_7",
                url: "/rest/chained/municipios/"
            });
            $("#id_municipio_destino_7").remoteChained({
                parents: "#id_departamento_destino_7",
                url: "/rest/chained/municipios/"
            });
            $('#id_fecha_8').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY'
            });
            $("#id_municipio_origen_8").remoteChained({
                parents: "#id_departamento_origen_8",
                url: "/rest/chained/municipios/"
            });
            $("#id_municipio_destino_8").remoteChained({
                parents: "#id_departamento_destino_8",
                url: "/rest/chained/municipios/"
            });
            $('#id_fecha_9').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY'
            });
            $("#id_municipio_origen_9").remoteChained({
                parents: "#id_departamento_origen_9",
                url: "/rest/chained/municipios/"
            });
            $("#id_municipio_destino_9").remoteChained({
                parents: "#id_departamento_destino_9",
                url: "/rest/chained/municipios/"
            });
            $('#id_fecha_10').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY'
            });
            $("#id_municipio_origen_10").remoteChained({
                parents: "#id_departamento_origen_10",
                url: "/rest/chained/municipios/"
            });
            $("#id_municipio_destino_10").remoteChained({
                parents: "#id_departamento_destino_10",
                url: "/rest/chained/municipios/"
            });
        });