
{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>REGISTRO COMPLETO</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Oferta TIC de formación de Computadores para Educar"/>
    <meta property="og:description" content="Preinscribete a la oferta TIC de formación de Computadores para Educar."/>
    <meta property="og:url" content="http://sican.asoandes.org/preinscripcion/"/>
    <meta property="og:image" content="http://sican.asoandes.org/static/img/preinscripcion.png"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png'%}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png'%}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700"/>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/normalize-css/normalize.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-select/dist/css/bootstrap-select.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/chosen/chosen.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/base_cpe.css'%}"/>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center"><img src="{% static 'img/logocpe.png'%}"/>
          <h2 class="title-white">Participa en la oferta TIC de formación de Computadores para Educar</h2>
          <h3>Preinscripción completa, ayudanos contestando la encuesta de percepción inicial.</h3><a href="/encuestas/percepcioninicial/">
            <button class="btn btn-cpe">Responder encuesta</button></a>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1"><a href="http://www.mineducacion.gov.co" target="_blank"><img src="{% static 'img/mineducacion_logo.png'%}" class="img-responsive center-block"/></a></div>
        <div class="col-sm-2"><a href="http://www.mintic.gov.co" target="_blank"><img src="{% static 'img/mintic_logo.png'%}" class="img-responsive center-block"/></a></div>
        <div class="col-sm-2"><a href="http://www.computadoresparaeducar.gov.co" target="_blank"><img src="{% static 'img/cpe_logo.png'%}" class="img-responsive center-block"/></a></div>
        <div class="col-sm-2"><a href="http://es.presidencia.gov.co" target="_blank"><img src="{% static 'img/nuevo_pais.png'%}" class="img-responsive center-block"/></a></div>
        <div class="col-sm-2"><a href="http://asoandes.org" target="_blank"><img src="{% static 'img/andes_logo.png'%}" class="img-responsive center-block"/></a></div>
      </div>
    </div>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js'%}"></script>
    <script src="{% static 'bower_components/moment/locale/es.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'%}"></script>
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-select/dist/js/bootstrap-select.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-select/dist/js/i18n/defaults-es_CL.min.js'%}"></script>
    <script src="{% static 'bower_components/chained/jquery.chained.min.js'%}"></script>
    <script src="{% static 'bower_components/chained/jquery.chained.remote.min.js'%}"></script>
    <script src="{% static 'bower_components/chosen/chosen.jquery.js'%}"></script>
  </body>
</html>