extends ../../inicio
block scroll_header_panel_title
    span(class="title") CRONOGRAMAS
block help_content
    p(class="title-help") Descripción:
    p.
        En esta tabla encuentras el listado de semanas en los cronogramas de formación.
block head_content_inicio
    link(rel="import",href="{% static 'bower_components/paper-button/paper-button.html'%}")
block custom_style_panel
    style(is="custom-style")
        | paper-button{
        |   margin-bottom:15px;
        | }
block breadcrum
    a(href="/proyectos/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Inicio
            iron-icon(icon="check",item-icon)
    paper-icon-item(class="breadcrum_active",disabled) Lista de semanas
        iron-icon(icon="check",item-icon)
block scroll_header_panel_content
    div(class="container-fluid container-index")
        | {% if nuevo_permiso %}
        div(class="block-right")
            a(href="nuevo",class="link_button")
                paper-button(class="submit") Nuevo
        | {% endif %}
        | {% if informes %}
        div(style="margin-bottom:20px;")
            select(class="selectpicker",id="select_accion")
                option(value="") ---------
                option(value="") Cronograma consolidado
            button(class="btn",id="accion") Generar reporte
        | {% endif %}
        table(id="table",class="display responsive no-wrap table table-striped table-bordered",width="100%")
            thead
                tr
                    th Numero
                    th Rango
            tbody
                tr
                    td Numero
                    td Rango
block body_script_content
    script.
        $("#accion").on("click", function () {
            var action = $("#select_accion").val();
            if (action != '') {
                $.ajax({
                    type: "GET",
                    url: '/rest/reportes/?action=' + action,
                    success: function (data) {
                        $('#myModal').modal('show');
                        $("#select_accion").val('');
                        $("#select_accion").selectpicker('refresh');
                    }
                });
            }
        });
    script.
        $(document).ready(function () {
            var table = $('#table').DataTable({
                "stateSave": true,
                "searching": true,
                "processing": true,
                "serverSide": true,
                "scrollX": true,
                "ajax": "/rest/formacion/semanas/",
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.8/i18n/Spanish.json"
                },
                "order": [[1, "asc"]],
                "columns": [
                    {
                        "data": 1,
                        "className": 'text-center',
                        "render": function (data, type, row, meta) {
                            if (row[3]) {
                                return '<a href="semana/' + row[0] + '" style="color:#004c99;">Semana ' + data + '</a>';
                            }
                            else {
                                return 'Semana ' + data;
                            }
                        },
                        "orderable": true,
                    },
                    {
                        "data": 2,
                        "className": 'text-center',
                        "orderable": false,
                    },
                ]
            });
        });