extends ../base
block title
    |DIPLOMAS
block body_content
    div(class="container-fluid")
        div(class="row")
            div(class="col-md-12 text-center")
                img(src="{% static 'img/logocpe.png'%}")
                h2(class="title-white") Certificado EscuelaTIC Familia
                div(class="text-center")
                    form(action="",method="POST",enctype="multipart/form-data",id="form-administrador")
                        | {% csrf_token %}
                        | {% crispy form %}