
{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="FORMADORES REGIÓN 1 y REGIÓN 2"/>
    <meta property="og:description" content="En este enlace puedes consultar información, cargar y descargar soportes."/>
    <meta property="og:url" content="http://sican.asoandes.org/formadores/"/>
    <meta property="og:image" content="http://sican.asoandes.org/static/img/formadores_facebook.jpg"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png'%}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png'%}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700"/>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/normalize-css/normalize.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-select/dist/css/bootstrap-select.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/base_formadores_2.css' %}"/>
  </head>
  <body>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js'%}"></script>
    <script src="{% static 'bower_components/moment/locale/es.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'%}"></script>
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-select/dist/js/bootstrap-select.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-select/dist/js/i18n/defaults-es_CL.min.js'%}"></script>
    <script src="{% static 'bower_components/chained/jquery.chained.min.js'%}"></script>
    <script src="{% static 'bower_components/chained/jquery.chained.remote.min.js'%}"></script>
  </body>
</html>