extends ../../inicio
block scroll_header_panel_title
    span(class="title") ENTREGABLES
block help_content
    p(class="title-help") Descripción:
    p.
        En esta tabla encuentras el listado de los entregables de cada diplomado de la estrategia ETIC@ del programa
        Computadores para Educar.

block head_content_inicio
    link(rel="import",href="{% static 'bower_components/paper-button/paper-button.html'%}")
block custom_style_panel
    style(is="custom-style")
        | paper-button{
        |   margin-bottom:15px;
        | }
block breadcrum
    a(href="/proyectos/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Inicio
            iron-icon(icon="check",item-icon)
    paper-icon-item(class="breadcrum_active",disabled) Lista de entregables
        iron-icon(icon="check",item-icon)
block scroll_header_panel_content
    div(class="container-fluid container-index")
        | {% if nuevo_permiso %}
        a(href="nuevo",class="link_button")
            paper-button(class="submit") Nuevo
        | {% endif %}
        table(id="table",class="display responsive no-wrap table table-striped table-bordered",width="100%")
            thead
                tr
                    th Nombre
                    th Numero
                    th Diplomado
                    th Nivel
                    th Sesion
                    th Entregable
            tbody
                tr
                    td Nombre
                    td Numero
                    td Diplomado
                    td Nivel
                    td Sesion
                    td Entregable

block body_script_content
    script.
        $(document).ready(function () {
            var table = $('#table').DataTable({
                "stateSave": true,
                "searching": true,
                "processing": true,
                "serverSide": true,
                "scrollX": true,
                "ajax": "/rest/financiera/entregables/",
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.8/i18n/Spanish.json"
                },
                "order": [[1, "asc"]],
                "columns": [
                    {
                        "data": 1,
                        "render": function (data, type, row, meta) {
                            if (row[7]) {
                                return '<a href="editar/' + row[0] + '" style="color:#004c99;">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        },
                        "orderable": true,
                    },
                    {
                        "data": 2,
                        "className": 'text-center',
                        "orderable": true,
                    },
                    {
                        "data": 3,
                        "className": 'text-center',
                        "orderable": false,
                    },
                    {
                        "data": 4,
                        "className": 'text-center',
                        "orderable": false,
                    },
                    {
                        "data": 5,
                        "className": 'text-center',
                        "orderable": false,
                    },
                    {
                        "orderable": false,
                        "className": 'text-center',
                        "data": null,
                        "render": function (data, type, row, meta) {
                            if (row[6] != '') {
                                return '<a href="' + row[6] + '" style="color:#004c99;"><img src="/static/img/file.png" height="32"></a>';
                            }
                            else {
                                return '';
                            }
                        },
                    },
                ]
            });
        });