extends ../../inicio
block scroll_header_panel_title
    span(class="title") ENCUESTA DE PERCEPCIÓN INICIAL

block help_content
    p(class="title-help") Descripción:
    p.
        En esta pagina pagina encuentras los resultados de percepción inicial y diagnostico de necesidades.

block head_content_inicio
    link(rel="import",href="{% static 'bower_components/paper-button/paper-button.html'%}")

block custom_style_panel
    style(is="custom-style")
        | paper-button{
        |   margin-bottom:15px;
        | }

block breadcrum
    a(href="/proyectos/",class="link_button")
        paper-icon-item(class="breadcrumb-paper-icon-item-class") Inicio
            iron-icon(icon="check",item-icon)
    paper-icon-item(class="breadcrum_active",disabled) Resultados encuesta de percepción inicial
        iron-icon(icon="check",item-icon)

block scroll_header_panel_content
    div(class="container-fluid container-index")
        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_1",class="ask_link")
                    div(class="ask_div")
                        h4 1. ¿En que área te desempeñas como docente?

                iron-collapse(id="collapse_1")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-8")
                            canvas(id='pregunta_1')
                        div(class="col-sm-4")
                            p 1: Ciencias naturales y educación ambiental
                            p 2: Ciencias sociales, historia, geografia, constitución politica y/o democrática
                            p 3: Educación artística
                            p 4: Educación ética y en valores humanos
                            p 5: Educación física, recreación y deportes
                            p 6: Educación religiosa
                            p 7: Humanidades
                            p 8: Matemáticas
                            p 9: Lengua castellana
                            p 10: Lengua extranjera
                            p 11: Lengua nativa
                            p 12: Competencias ciudadanas
                            p 13: Filosofia
                            p 14: Todas las áreas
                            p 15: Otras

        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_2",class="ask_link")
                    div(class="ask_div")
                        h4 2. ¿Cuantos años de experiencia tienes en docencia?

                iron-collapse(id="collapse_2")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-10 col-sm-offset-1")
                            canvas(id='pregunta_2')

        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_3",class="ask_link")
                    div(class="ask_div")
                        h4.
                            3. ¿Te gustaría recibir capacitación especializada sobre TIC y Educación relacionada con el
                            uso de contenidos para aprender?

                iron-collapse(id="collapse_3")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-10 col-sm-offset-1")
                            canvas(id='pregunta_3')

        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_4",class="ask_link")
                    div(class="ask_div")
                        h4.
                            4. ¿Cuál de los siguientes contenidos y utilidades te parece más relevante en la formación?

                iron-collapse(id="collapse_4")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-8")
                            canvas(id='pregunta_4')
                        div(class="col-sm-4")
                            p a. Formación en herramientas del dispositivo
                            p b. Formación en contenidos para uso didáctico
                            p c. Formación en uso avanzado (Programación)
                            p d. Formación en uso administrativo

        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_5",class="ask_link")
                    div(class="ask_div")
                        h4.
                            5. ¿Qué uso le das a los dispositivos en tu colegio actualmente?

                iron-collapse(id="collapse_5")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-8")
                            canvas(id='pregunta_5')
                        div(class="col-sm-4")
                            p a. Los usas para algunos contenidos (Uso inferior a 4 h semanales)
                            p b. Los usas para la mayoría los contenidos (Uso entre 4h a 8h semanales)
                            p c. Los usas de manera intensiva
                            p d. No usas los dispositivos

        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_6",class="ask_link")
                    div(class="ask_div")
                        h4.
                            6. ¿Respecto a la pregunta anterior cuales son los usos más frecuentes que le das a los dispositivos?

                iron-collapse(id="collapse_6")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-8")
                            canvas(id='pregunta_6')
                        div(class="col-sm-4")
                            p a. Estudio autónomo dentro de la clase de los alumnos
                            p b. Estudio guiado (clase magistral más trabajo con dispositivos)
                            p c. Trabajo libre
                            p d. Trabajo lúdico
                            p e. Otros


        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_7",class="ask_link")
                    div(class="ask_div")
                        h4.
                            7. ¿Cuál es tu motivación principal para recibir la capacitación?

                iron-collapse(id="collapse_7")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-8")
                            canvas(id='pregunta_7')
                        div(class="col-sm-4")
                            p a. Sirve como evidencia para ser presentada en el proceso de evaluación de docentes y directivos docentes
                            p b. Facilita el fortalecimiento de la gestión institucional
                            p c. Es una herramienta para buscar apoyo académico y técnico a los proyectos de los docentes
                            p d. Es una herramienta para mejorar la toma de decisiones, articulada a objetivos claros de la institución para el mejoramiento de la calidad

        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_8",class="ask_link")
                    div(class="ask_div")
                        h4.
                            8. ¿Cuál de los siguientes beneficios consideras es el más importante para ti al recibir una charla o participar en un curso o diplomado en TIC y educación?

                iron-collapse(id="collapse_8")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-8")
                            canvas(id='pregunta_8')
                        div(class="col-sm-4")
                            p a. Ascender en el escalafón docente
                            p b. Fortalecer tus aprendizajes en el uso pedagógico de las TIC
                            p c. Conocer contenidos y herramientas que mejoren tus prácticas de enseñanza o de gestión
                            p d. Otro ¿Cuál?

        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_9",class="ask_link")
                    div(class="ask_div")
                        h4.
                            9. ¿Si recibes el curso estarías dispuesto a aplicar tus conocimientos en un proyecto pedagógico con resultados reales articulado con las TIC?

                iron-collapse(id="collapse_9")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-10 col-sm-offset-1")
                            canvas(id='pregunta_9')

        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_10",class="ask_link")
                    div(class="ask_div")
                        h4.
                            10. ¿En qué área aplicarías los conocimientos?
                iron-collapse(id="collapse_10")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-8")
                            canvas(id='pregunta_10')
                        div(class="col-sm-4")
                            p a. Proyectos didácticos (Una sola disciplina)
                            p b. Proyectos productivos (Una sola disciplina)
                            p c. Proyectos de articulación con otras disciplinas
                            p d. Otros proyectos no clasificados


        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_11",class="ask_link")
                    div(class="ask_div")
                        h4.
                            11. ¿Cuál de las siguientes razones justificaría tu interés por desarrollar proyectos pedagógicos que articulen las TIC?

                iron-collapse(id="collapse_11")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-8")
                            canvas(id='pregunta_11')
                        div(class="col-sm-4")
                            p a. Sirven como evidencia para la evaluación docente
                            p b. Permiten participar en eventos nacionales o internacionales
                            p c. Facilitan los aprendizajes de los estudiantes y las prácticas de enseñanza del docente
                            p d. Son una oportunidad para seguir cualificando la práctica docente


        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_12",class="ask_link")
                    div(class="ask_div")
                        h4.
                            12. ¿Consideras que se pueden solucionar problemas que se presentan en el proceso de enseñanza – aprendizaje con tus estudiantes a través del uso de las TIC?
                iron-collapse(id="collapse_12")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-10 col-sm-offset-1")
                            canvas(id='pregunta_12')


        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_13",class="ask_link")
                    div(class="ask_div")
                        h4.
                            13. ¿Cuál es el rango de tiempo que le dedicarías a practicar lo aprendido?
                iron-collapse(id="collapse_13")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-8")
                            canvas(id='pregunta_13')
                        div(class="col-sm-4")
                            p a. 1-2 Horas semanales
                            p b. 2-6 Horas semanales
                            p c. 6 o más horas semanales
                            p d. No dedicaría tiempo adicional


        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_14",class="ask_link")
                    div(class="ask_div")
                        h4.
                            14. ¿Has participado en procesos de formación (seminarios, diplomados u otros cursos) sobre el uso de computadores o tabletas, programados por Computadores para Educar o por otros programas o iniciativas?
                iron-collapse(id="collapse_14")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-10 col-sm-offset-1")
                            canvas(id='pregunta_14')


        div(class="row")
            div(class="col-sm-12")
                a(href="#",id="button_15",class="ask_link")
                    div(class="ask_div")
                        h4.
                            15. ¿En una escala de 0% a 100% que porcentaje de conocimiento consideras que tienes actualmente en el uso de las TIC?

                iron-collapse(id="collapse_15")
                    div(class="row",style="margin-top:20px;margin-bottom:20px;")
                        div(class="col-sm-8 col-sm-offset-2")
                            canvas(id='pregunta_15')

block body_script_content
    script.
        $.ajax({
           type: "GET",
           url: '/rest/encuestas/percepcioninicial/',
           success: function(data)
           {

               var ctx = document.getElementById("pregunta_1");
               var myChart = new Chart(ctx, {
                   type: 'bar',
                   data: {
                       labels: ["1", "2", "3", "4", "5", "6","7", "8", "9", "10", "11", "12","13", "14", "15"],
                       datasets: [{
                           label: ['Area'],
                           data: [((data[1][1]*100)/data[0]).toFixed(2), ((data[1][2]*100)/data[0]).toFixed(2), ((data[1][3]*100)/data[0]).toFixed(2),
                                  ((data[1][4]*100)/data[0]).toFixed(2),((data[1][5]*100)/data[0]).toFixed(2), ((data[1][6]*100)/data[0]).toFixed(2),
                                  ((data[1][7]*100)/data[0]).toFixed(2),((data[1][8]*100)/data[0]).toFixed(2), ((data[1][9]*100)/data[0]).toFixed(2),
                                  ((data[1][10]*100)/data[0]).toFixed(2), ((data[1][11]*100)/data[0]).toFixed(2), ((data[1][12]*100)/data[0]).toFixed(2),
                                  ((data[1][13]*100)/data[0]).toFixed(2), ((data[1][14]*100)/data[0]).toFixed(2), ((data[1][15]*100)/data[0]).toFixed(2),
                           ],
                           backgroundColor: '#004c99'
                       }],
                   },
                   options: {
                       scales: {
                           yAxes: [{
                               ticks: {
                                   beginAtZero: true
                               }
                           }]
                       },
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });


               var ctx = document.getElementById("pregunta_2");
               var myChart2 = new Chart(ctx, {
                   type: 'bar',
                   data: {
                       labels: ["0 - 5", "6 - 10", "11 - 15", "16 - 20", "21 - 25","26 - 30", "31 - 35", "36 - 40", "41 - 45", "46 - 50"],
                       datasets: [{
                           label: ['Años de docencia'],
                           data: [((data[2][1]*100)/data[0]).toFixed(2), ((data[2][2]*100)/data[0]).toFixed(2), ((data[2][3]*100)/data[0]).toFixed(2),
                                  ((data[2][4]*100)/data[0]).toFixed(2),((data[2][5]*100)/data[0]).toFixed(2), ((data[2][6]*100)/data[0]).toFixed(2),
                                  ((data[2][7]*100)/data[0]).toFixed(2),((data[2][8]*100)/data[0]).toFixed(2), ((data[2][9]*100)/data[0]).toFixed(2),
                                  ((data[2][10]*100)/data[0]).toFixed(2),
                           ],
                           backgroundColor: '#004c99'
                       }],
                   },
                    options: {
                       scales: {
                           yAxes: [{
                               ticks: {
                                   beginAtZero: true
                               }
                           }]
                       },
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });

               var ctx2 = document.getElementById("pregunta_3");
               var myChart3 = new Chart(ctx2, {
                   type: 'pie',
                   data: {
                       labels: ["Si", "No"],
                       datasets: [{
                           data: [((data[3]['si']*100)/data[0]).toFixed(2), ((data[3]['no']*100)/data[0]).toFixed(2)
                           ],
                           backgroundColor: ['#004c99','#388E3C']
                       }],
                   },
                   options: {
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });


               var ctx2 = document.getElementById("pregunta_4");
               var myChart3 = new Chart(ctx2, {
                   type: 'pie',
                   data: {
                       labels: ["a.", "b.", "c.", "d."],
                       datasets: [{
                           data: [((data[4][1]*100)/data[0]).toFixed(2), ((data[4][2]*100)/data[0]).toFixed(2),
                                   ((data[4][3]*100)/data[0]).toFixed(2), ((data[4][4]*100)/data[0]).toFixed(2)
                           ],
                           backgroundColor: ['#004c99','#388E3C', '#E64A19', '#2196F3']
                       }],
                   },
                   options: {
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });

               var ctx2 = document.getElementById("pregunta_5");
               var myChart3 = new Chart(ctx2, {
                   type: 'pie',
                   data: {
                       labels: ["a.", "b.", "c.", "d."],
                       datasets: [{
                           data: [((data[5][1]*100)/data[0]).toFixed(2), ((data[5][2]*100)/data[0]).toFixed(2),
                                   ((data[5][3]*100)/data[0]).toFixed(2), ((data[5][4]*100)/data[0]).toFixed(2)
                           ],
                           backgroundColor: ['#004c99','#388E3C', '#E64A19', '#2196F3']
                       }],
                   },
                   options: {
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });


               var ctx2 = document.getElementById("pregunta_6");
               var myChart3 = new Chart(ctx2, {
                   type: 'pie',
                   data: {
                       labels: ["a.", "b.", "c.", "d.","e."],
                       datasets: [{
                           data: [((data[6][1]*100)/data[0]).toFixed(2), ((data[6][2]*100)/data[0]).toFixed(2),
                                  ((data[6][3]*100)/data[0]).toFixed(2), ((data[6][4]*100)/data[0]).toFixed(2),
                                  ((data[6][5]*100)/data[0]).toFixed(2)
                           ],
                           backgroundColor: ['#004c99','#388E3C', '#E64A19', '#2196F3','#727272']
                       }],
                   },
                   options: {
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });

               var ctx2 = document.getElementById("pregunta_7");
               var myChart3 = new Chart(ctx2, {
                   type: 'pie',
                   data: {
                       labels: ["a.", "b.", "c.", "d."],
                       datasets: [{
                           data: [((data[7][1]*100)/data[0]).toFixed(2), ((data[7][2]*100)/data[0]).toFixed(2),
                                  ((data[7][3]*100)/data[0]).toFixed(2), ((data[7][4]*100)/data[0]).toFixed(2),
                           ],
                           backgroundColor: ['#004c99','#388E3C', '#E64A19', '#2196F3']
                       }],
                   },
                   options: {
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });

               var ctx2 = document.getElementById("pregunta_8");
               var myChart3 = new Chart(ctx2, {
                   type: 'pie',
                   data: {
                       labels: ["a.", "b.", "c.", "d."],
                       datasets: [{
                           data: [((data[8][1]*100)/data[0]).toFixed(2), ((data[8][2]*100)/data[0]).toFixed(2),
                                  ((data[8][3]*100)/data[0]).toFixed(2), ((data[8][4]*100)/data[0]).toFixed(2),
                           ],
                           backgroundColor: ['#004c99','#388E3C', '#E64A19', '#2196F3']
                       }],
                   },
                   options: {
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });


               var ctx2 = document.getElementById("pregunta_9");
               var myChart3 = new Chart(ctx2, {
                   type: 'pie',
                   data: {
                       labels: ["Si", "No"],
                       datasets: [{
                           data: [((data[9]['si']*100)/data[0]).toFixed(2), ((data[9]['no']*100)/data[0]).toFixed(2)
                           ],
                           backgroundColor: ['#004c99','#388E3C']
                       }],
                   },
                   options: {
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });


               var ctx2 = document.getElementById("pregunta_10");
               var myChart3 = new Chart(ctx2, {
                   type: 'pie',
                   data: {
                       labels: ["a.", "b.", "c.", "d."],
                       datasets: [{
                           data: [((data[10][1]*100)/data[0]).toFixed(2), ((data[10][2]*100)/data[0]).toFixed(2),
                                  ((data[10][3]*100)/data[0]).toFixed(2), ((data[10][4]*100)/data[0]).toFixed(2),
                           ],
                           backgroundColor: ['#004c99','#388E3C', '#E64A19', '#2196F3']
                       }],
                   },
                   options: {
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });

               var ctx2 = document.getElementById("pregunta_11");
               var myChart3 = new Chart(ctx2, {
                   type: 'pie',
                   data: {
                       labels: ["a.", "b.", "c.", "d."],
                       datasets: [{
                           data: [((data[11][1]*100)/data[0]).toFixed(2), ((data[11][2]*100)/data[0]).toFixed(2),
                                  ((data[11][3]*100)/data[0]).toFixed(2), ((data[11][4]*100)/data[0]).toFixed(2),
                           ],
                           backgroundColor: ['#004c99','#388E3C', '#E64A19', '#2196F3']
                       }],
                   },
                   options: {
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });

               var ctx2 = document.getElementById("pregunta_12");
               var myChart3 = new Chart(ctx2, {
                   type: 'pie',
                   data: {
                       labels: ["Si", "No"],
                       datasets: [{
                           data: [((data[12]['si']*100)/data[0]).toFixed(2), ((data[12]['no']*100)/data[0]).toFixed(2)
                           ],
                           backgroundColor: ['#004c99','#388E3C']
                       }],
                   },
                   options: {
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });


               var ctx2 = document.getElementById("pregunta_13");
               var myChart3 = new Chart(ctx2, {
                   type: 'pie',
                   data: {
                       labels: ["a.", "b.", "c.", "d."],
                       datasets: [{
                           data: [((data[13][1]*100)/data[0]).toFixed(2), ((data[13][2]*100)/data[0]).toFixed(2),
                                  ((data[13][3]*100)/data[0]).toFixed(2), ((data[13][4]*100)/data[0]).toFixed(2),
                           ],
                           backgroundColor: ['#004c99','#388E3C', '#E64A19', '#2196F3']
                       }],
                   },
                   options: {
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });

               var ctx2 = document.getElementById("pregunta_14");
               var myChart3 = new Chart(ctx2, {
                   type: 'pie',
                   data: {
                       labels: ["Si", "No"],
                       datasets: [{
                           data: [((data[14]['si']*100)/data[0]).toFixed(2), ((data[14]['no']*100)/data[0]).toFixed(2)
                           ],
                           backgroundColor: ['#004c99','#388E3C']
                       }],
                   },
                   options: {
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItem, data) {
                                      var value = data.datasets[0].data[tooltipItem.index];
                                      var label = data.labels[tooltipItem.index];
                                      return label + ': ' + value + ' %';
                               }
                           }
                       }
                   }
               });


               var ctx = document.getElementById("pregunta_15");
               var myChart2 = new Chart(ctx, {
                   type: 'bar',
                   data: {
                       labels: ["0 - 10", "11 - 20", "21 - 30", "31 - 40", "41 - 50","51 - 60", "61 - 70", "71 - 80", "81 - 90", "91 - 100"],
                       datasets: [{
                           label: ['% De conocimiento'],
                           data: [((data[15][1]*100)/data[0]).toFixed(2),((data[15][2]*100)/data[0]).toFixed(2), ((data[15][3]*100)/data[0]).toFixed(2),
                                  ((data[15][4]*100)/data[0]).toFixed(2),((data[15][5]*100)/data[0]).toFixed(2), ((data[15][6]*100)/data[0]).toFixed(2),
                                  ((data[15][7]*100)/data[0]).toFixed(2),((data[15][8]*100)/data[0]).toFixed(2), ((data[15][9]*100)/data[0]).toFixed(2),
                                  ((data[15][10]*100)/data[0]).toFixed(2),
                           ],
                           backgroundColor: '#004c99'
                       }],
                   },
                   options: {
                       scales: {
                           yAxes: [{
                               ticks: {
                                   beginAtZero: true
                               }
                           }]
                       },
                       tooltips: {
                           callbacks: {
                               label: function(tooltipItems, data) {
                                   return tooltipItems.yLabel + ' %';
                               }
                           }
                       }
                   },
               });

           }
         });
    script.
        $("#button_1").on('click', function () {
            collapse_1.toggle();
        })

        $("#button_2").on('click', function () {
            collapse_2.toggle();
        })

        $("#button_3").on('click', function () {
            collapse_3.toggle();
        })

        $("#button_4").on('click', function () {
            collapse_4.toggle();
        })

        $("#button_5").on('click', function () {
            collapse_5.toggle();
        })

        $("#button_6").on('click', function () {
            collapse_6.toggle();
        })

        $("#button_7").on('click', function () {
            collapse_7.toggle();
        })

        $("#button_8").on('click', function () {
            collapse_8.toggle();
        })

        $("#button_9").on('click', function () {
            collapse_9.toggle();
        })

        $("#button_10").on('click', function () {
            collapse_10.toggle();
        })

        $("#button_11").on('click', function () {
            collapse_11.toggle();
        })

        $("#button_12").on('click', function () {
            collapse_12.toggle();
        })

        $("#button_13").on('click', function () {
            collapse_13.toggle();
        })

        $("#button_14").on('click', function () {
            collapse_14.toggle();
        })

        $("#button_15").on('click', function () {
            collapse_15.toggle();
        })