
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>FORMADORES</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="FORMADORES REGIÓN 1 y REGIÓN 2"/>
    <meta property="og:description" content="En este enlace puedes consultar información, cargar y descargar soportes."/>
    <meta property="og:url" content="http://sican.asoandes.org/formadores/"/>
    <meta property="og:image" content="http://sican.asoandes.org/static/img/formadores_facebook.jpg"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png'%}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png'%}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700"/>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/normalize-css/normalize.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-select/dist/css/bootstrap-select.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-fileinput/css/fileinput.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/base_formadores_2.css'%}"/>
  </head>
  <body>
    <ol class="breadcrumb">
      <li><a href="../../">Inicio</a></li>
      <li><a href="../">Transportes</a></li>
      <li class="active">Nueva solicitud</li>
    </ol>
    <div class="container-fluid margin-top-container-two">
      <div class="row margin-logo">
        <div class="col-sm-4 col-sm-offset-4"><img src="{% static 'img/SICAN.svg'%}" class="img-responsive"/></div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Solicitud de transportes</h1>
          <p>
            Diligencia el siguiente formulario para solicitar la aprobacion de desplazamiento, utiliza las filas
            que consideres necesarias.
          </p>
          <p>
            Nota: El sistema solo considera valido un desplazamiento si tiene completos los 5 campos solicitados
            en cada fila.
          </p>
          <h3 style="margin-bottom:30px;">{{formador}} - {{tipo}}</h3>
          <div style="margin-bottom:30px;" class="row">
            <div class="col-md-12 text-center">
              <form action="" method="POST" enctype="multipart/form-data" id="form-administrador">{% crispy form %}</form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal" tabindex="-1" role="dialog" class="modal fade">
      <div role="document" class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" id="cerrar_totorial" class="btn btn-default">No quiero ver mas este tutorial</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary">Entendido</button>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js'%}"></script>
    <script src="{% static 'bower_components/moment/locale/es.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'%}"></script>
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-select/dist/js/bootstrap-select.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-select/dist/js/i18n/defaults-es_CL.min.js'%}"></script>
    <script src="{% static 'bower_components/chained/jquery.chained.min.js'%}"></script>
    <script src="{% static 'bower_components/chained/jquery.chained.remote.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-fileinput/js/plugins/sortable.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-fileinput/js/plugins/purify.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-fileinput/js/fileinput.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-fileinput/js/locales/es.js'%}"></script>
    <script src="{% static 'bower_components/jquery-maskmoney/src/jquery.maskMoney.js'%}"></script>
    <script>
      $(document).ready(function() {
          $('#id_fecha_1').datetimepicker({
              locale: 'es',
              format: 'DD/MM/YYYY'
          });
          $("#id_municipio_origen_1").remoteChained({
              parents: "#id_departamento_origen_1",
              url: "/rest/chained/municipios/"
          });
      
         $("#id_municipio_destino_1").remoteChained({
              parents: "#id_departamento_destino_1",
              url: "/rest/chained/municipios/"
          });
      
         $("#id_valor_1").maskMoney();
          $("#id_valor_2").maskMoney();
          $("#id_valor_3").maskMoney();
          $("#id_valor_4").maskMoney();
          $("#id_valor_5").maskMoney();
          $("#id_valor_6").maskMoney();
          $("#id_valor_7").maskMoney();
          $("#id_valor_8").maskMoney();
          $("#id_valor_9").maskMoney();
          $("#id_valor_10").maskMoney();
      
         $('#id_fecha_2').datetimepicker({
              locale: 'es',
              format: 'DD/MM/YYYY'
          });
      
         $("#id_municipio_origen_2").remoteChained({
              parents: "#id_departamento_origen_2",
              url: "/rest/chained/municipios/"
          });
      
         $("#id_municipio_destino_2").remoteChained({
              parents: "#id_departamento_destino_2",
              url: "/rest/chained/municipios/"
          });
      
         $('#id_fecha_3').datetimepicker({
              locale: 'es',
              format: 'DD/MM/YYYY'
          });
      
         $("#id_municipio_origen_3").remoteChained({
              parents: "#id_departamento_origen_3",
              url: "/rest/chained/municipios/"
          });
      
         $("#id_municipio_destino_3").remoteChained({
              parents: "#id_departamento_destino_3",
              url: "/rest/chained/municipios/"
          });
      
         $('#id_fecha_4').datetimepicker({
              locale: 'es',
              format: 'DD/MM/YYYY'
          });
      
         $("#id_municipio_origen_4").remoteChained({
              parents: "#id_departamento_origen_4",
              url: "/rest/chained/municipios/"
          });
      
         $("#id_municipio_destino_4").remoteChained({
              parents: "#id_departamento_destino_4",
              url: "/rest/chained/municipios/"
          });
      
          $('#id_fecha_5').datetimepicker({
              locale: 'es',
              format: 'DD/MM/YYYY'
          });
      
         $("#id_municipio_origen_5").remoteChained({
              parents: "#id_departamento_origen_5",
              url: "/rest/chained/municipios/"
          });
      
         $("#id_municipio_destino_5").remoteChained({
              parents: "#id_departamento_destino_5",
              url: "/rest/chained/municipios/"
          });
      
          $('#id_fecha_6').datetimepicker({
              locale: 'es',
              format: 'DD/MM/YYYY'
          });
      
         $("#id_municipio_origen_6").remoteChained({
              parents: "#id_departamento_origen_6",
              url: "/rest/chained/municipios/"
          });
      
         $("#id_municipio_destino_6").remoteChained({
              parents: "#id_departamento_destino_6",
              url: "/rest/chained/municipios/"
          });
      
          $('#id_fecha_7').datetimepicker({
              locale: 'es',
              format: 'DD/MM/YYYY'
          });
      
         $("#id_municipio_origen_7").remoteChained({
              parents: "#id_departamento_origen_7",
              url: "/rest/chained/municipios/"
          });
      
         $("#id_municipio_destino_7").remoteChained({
              parents: "#id_departamento_destino_7",
              url: "/rest/chained/municipios/"
          });
      
          $('#id_fecha_8').datetimepicker({
              locale: 'es',
              format: 'DD/MM/YYYY'
          });
      
         $("#id_municipio_origen_8").remoteChained({
              parents: "#id_departamento_origen_8",
              url: "/rest/chained/municipios/"
          });
      
         $("#id_municipio_destino_8").remoteChained({
              parents: "#id_departamento_destino_8",
              url: "/rest/chained/municipios/"
          });
      
      
          $('#id_fecha_9').datetimepicker({
              locale: 'es',
              format: 'DD/MM/YYYY'
          });
      
         $("#id_municipio_origen_9").remoteChained({
              parents: "#id_departamento_origen_9",
              url: "/rest/chained/municipios/"
          });
      
         $("#id_municipio_destino_9").remoteChained({
              parents: "#id_departamento_destino_9",
              url: "/rest/chained/municipios/"
          });
      
          $('#id_fecha_10').datetimepicker({
              locale: 'es',
              format: 'DD/MM/YYYY'
          });
      
         $("#id_municipio_origen_10").remoteChained({
              parents: "#id_departamento_origen_10",
              url: "/rest/chained/municipios/"
          });
      
         $("#id_municipio_destino_10").remoteChained({
              parents: "#id_departamento_destino_10",
              url: "/rest/chained/municipios/"
          });
      
      });
    </script>
  </body>
</html>